@use 'sass:meta';

@layer pico, base;

@layer pico {
  @include meta.load-css('pico');
}

@layer base {
  :root {
    --pico-font-family: var(--link-garden-font-override, ''),
      var(--link-garden-theme-font, ''), system-ui, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, Helvetica, Arial, 'Helvetica Neue', sans-serif,
      var(--pico-font-family-emoji);
  }

  body {
    width: 100%;
    height: 100%;
    padding-block: var(--pico-block-spacing-vertical);
  }

  body,
  header,
  main,
  footer {
    display: flex;
    flex-direction: column;
  }

  .profile {
    align-items: center;
    text-align: center;
  }

  .profile-image {
    width: 128px;
    height: 128px;
    margin-block-end: var(--pico-spacing);
    object-fit: cover;
  }

  .link-section {
    display: flex;
    flex-direction: column;
    margin-top: var(--pico-block-spacing-vertical);
  }

  .link-section-links {
    display: flex;
    flex-direction: column;
    row-gap: var(--pico-spacing);
  }

  .link-button {
    display: flex;
    container: link-button / inline-size;
  }

  .link-button-link {
    display: flex;
    text-decoration: none;
    column-gap: var(--pico-spacing);
  }

  .link-button a {
    color: inherit;
  }

  .link-button-image {
    flex-shrink: 0;
    align-self: center;
    max-width: 64px;
    width: 10cqw;
    height: auto;
  }

  .link-button-title {
    display: inline-block;
  }

  .link-button-new-tab {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding-inline-start: var(--pico-spacing);
  }
}
