@use '@picocss/pico/scss/pico' with (
  $enable-semantic-container: true,
  $enable-responsive-spacings: true,
  $breakpoints: (
    xl: (
      breakpoint: 1024px,
      viewport: 950px,
      root-font-size: 118.75%,
    ),
    xxl: (
      breakpoint: 1024px,
      viewport: 950px,
      root-font-size: 118.75%,
    ),
  )
);

:root {
  --pico-font-family-sans-serif: var(--link-garden-font), system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif, var(--pico-font-family-emoji);
}