@use 'sass:meta';

@layer pico, base;

@layer pico {
	@include meta.load-css('pico');
}

@layer base {
  :root {
    --pico-font-family: var(--link-garden-font-override, ''),
      var(--link-garden-theme-font, ''), system-ui, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, Helvetica, Arial, 'Helvetica Neue', sans-serif,
      var(--pico-font-family-emoji);
  }

  body {
    width: 100%;
    height: 100%;
  }

  .profile {
    text-align: center;
  }

  .profile-image {
    margin-bottom: var(--pico-typography-spacing-vertical);
  }

  .link-section-links {
    display: flex;
    flex-direction: column;
    row-gap: var(--pico-spacing);
  }

  .link-button,
  .link-button-link {
    display: flex;
    text-decoration: none;
    -moz-column-gap: var(--pico-spacing);
    column-gap: var(--pico-spacing);
  }

  .link-button {
    color: var(--pico-primary);
  }

  .link-button a {
    color: inherit;
  }

  .link-button-image {
    flex-shrink: 0;
    align-self: center;
    height: auto;
  }

  .link-button-new-tab {
    flex-shrink: 0;
    align-self: center;
    padding-inline: 24px;
  }
}
