/* Styles here are applied to all themes */

body {
  width: 100vw;
  height: 100vh;
}

.profile {
  text-align: center;
}

.profile-image {
  margin-bottom: var(--pico-typography-spacing-vertical);
}

.link-section-links {
  display: flex;
  flex-direction: column;
  row-gap: var(--pico-spacing);
}

.link-button,
.link-button-link {
  display: flex;
  text-decoration: none;
  column-gap: var(--pico-spacing);
}

.link-button {
  color: var(--pico-primary);
}

.link-button a {
  color: inherit;
}

.link-button-image {
  flex-shrink: 0;
  align-self: center;
  height: auto;
}

.link-button-new-tab {
  flex-shrink: 0;
  align-self: center;
  padding-inline: 24px;
}
