:root {
  --pico-color: white;
  --pico-form-element-color: white;
  --pico-h1-color: white;
  --pico-h2-color: white;
  --pico-h3-color: white;
  --pico-h4-color: white;
  --pico-h5-color: white;
  --pico-h6-color: white;
  --pico-primary: white;

  --v-pro-icon-chevron-white: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");

  --v-pro-padding: calc(var(--pico-spacing) * 2);
  --v-pro-background: rgba(128, 128, 128, 0.5);
  --v-pro-background-active: rgba(255, 255, 255, 0.5);
  --v-pro-background-nested-light: rgba(255, 255, 255, 0.2);
  --v-pro-background-nested-dark: rgba(0, 0, 0, 0.2);
  --v-pro-blur: blur(50px) saturate(200%);
  --v-pro-outline: 2px solid rgba(255, 255, 255, 0.1);
  --v-pro-radius: 30px;

  @media (prefers-reduced-transparency: reduce) {
    --v-pro-background: rgba(64, 64, 64);
    --v-pro-background-active: rgba(128, 128, 128, 1);
  }
}

* {
  outline-offset: -2px;
}

:focus,
:focus-visible {
  /* disables the Pico focus ring */
  box-shadow: none;
}

body::before {
  /* load random background if not set by user */
  @media (prefers-color-scheme: light) {
    :root:not([style*='--link-garden-bg-image-light']) & {
      background-image: url('https://source.unsplash.com/random');
    }
  }
  @media (prefers-color-scheme: dark) {
    :root:not([style*='--link-garden-bg-image-dark']) & {
      background-image: url('https://source.unsplash.com/random');
    }
  }
}

.hover-coordinates-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: var(--v-pro-radius);
  transition: scale var(--pico-transition);

  &:hover,
  &:has(> :focus),
  &:has(.link-button-link:focus) {
    scale: var(--hover-scale, 1.025);

    &:active {
      scale: 1;
    }

    &::after {
      position: absolute;
      top: var(--mouseY, 50%);
      left: var(--mouseX, 50%);
      width: calc(max(var(--width), var(--height)));
      height: calc(max(var(--width), var(--height)));
      background: radial-gradient(
        closest-side,
        rgba(255, 255, 255, 0.1),
        transparent
      );
      content: '';
      pointer-events: none;
      translate: -50% -50%;
    }
  }
}

.profile,
footer {
  position: relative;
  align-self: center;
  padding: var(--v-pro-padding);
  width: -webkit-fit-content;
  width: fit-content;
  outline: var(--v-pro-outline);
  border-radius: var(--v-pro-radius);
  background-color: var(--v-pro-background);
  margin-inline: var(--pico-block-spacing-horizontal);
  -webkit-backdrop-filter: var(--v-pro-blur);
  backdrop-filter: var(--v-pro-blur);
}

.profile {
  align-items: center;

  &:has(.profile-image) {
    -webkit-margin-before: 96px;
    margin-block-start: 96px;
  }
}

.profile-image {
  position: absolute;
  bottom: 100%;
  border: var(--v-pro-outline);
  border-radius: 50%;
  translate: 0 40%;
}

.profile-description {
  margin-bottom: 0;
}

.link-section-title {
  align-self: center;
  outline: var(--v-pro-outline);
  border-radius: var(--v-pro-radius);
  background-color: var(--v-pro-background);
  -webkit-backdrop-filter: var(--v-pro-blur);
  backdrop-filter: var(--v-pro-blur);
  padding-inline: var(--v-pro-padding);
  padding-block: calc(var(--pico-spacing) / 2);
}

.link-button {
  outline: var(--v-pro-outline);
  border-radius: var(--v-pro-radius);
  background-color: var(--v-pro-background);
  transition: background-color var(--pico-transition);
  -webkit-backdrop-filter: var(--v-pro-blur);
  backdrop-filter: var(--v-pro-blur);

  &:active {
    background-color: var(--v-pro-background-active);
  }
}

.link-button-link {
  align-items: center;
  padding: var(--v-pro-padding);
  padding-right: calc(var(--v-pro-padding) * 2 + var(--pico-spacing) * 2);
  border-radius: inherit;
}

.hover-coordinates-wrapper:has(> .link-button-new-tab) {
  --hover-scale: 1.1;
  position: absolute;
  right: var(--pico-spacing);
  align-self: center;
}

.link-button-new-tab {
  border-radius: var(--v-pro-radius);
  background-color: var(--v-pro-background-nested-light);
  transition: scale var(--pico-transition);
  padding-block: calc(var(--pico-spacing) / 2);
  padding-inline: var(--pico-spacing);

  &:active {
    background-color: var(--v-pro-background-active);
  }
}

footer {
  padding-block: var(--pico-spacing);
}

select {
  /* FIXME box shadows */
  margin-bottom: 0;
  border: none;
  border-radius: var(--v-pro-radius);
  background-color: var(--v-pro-background-nested-dark);
  background-image: var(--v-pro-icon-chevron-white);
  background-position: center right 0.75rem;
  background-repeat: no-repeat;
  transition: scale var(--pico-transition);
}
